a:focus {
    outline: none;
}
#panel {
    background: none;
    display: none;
    /*border-bottom: 1px;*/
}

.btn-slide {
    display: inline-block;
    padding: 6px /*12px*/;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: auto;
}

.btn-slide {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    -webkit-box-shadow: 3px 3px 3px #363f39;
    box-shadow: 3px 3px 3px #36403a;
    margin-top: 6px;
}

.btn-slide.active span {
    display: none;
}

.btn-slide.active:after {
    content: 'Tap to slide Up';
}

.btn-slide:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}


/*.btn-slide:focus,
.btn-slide.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}*/

/*.btn-slide.active {
    background-color: #2b542c;
}*/

/*.btn-slide:active,
.btn-slide.active,
.open > .dropdown-toggle.btn-slide {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-slide:active:hover,
.btn-slide.active:hover,
.open > .dropdown-toggle.btn-slide:hover,
.btn-slide:active:focus,
.btn-slide.active:focus,
.open > .dropdown-toggle.btn-slide:focus,
.btn-slide:active.focus,
.btn-slide.active.focus,
.open > .dropdown-toggle.btn-slideo.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}
.btn-slide:active,
.btn-slide.active,
.open > .dropdown-toggle.btn-slide {
    background-image: none;
}

.btn-slide .badge {
    color: #5bc0de;
    background-color: #fff;
}*/
/*.slide {
    margin: 0;
    padding: 0;
}*/
/*.btn-slide {
    text-align: center;
    width: 144px;
    height: 31px;
    padding: 10px 10px 0 0;
    margin: 0 auto;
    display: block;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
}*/