* { margin:0; padding:0; }
html, body {
    background: #e9eaed;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #666;
}
    /*    background-image: url("http://picsfab.com/download/image/68679/4720x3487_chelovechki-belyij-fon-dolki.jpg");
    background-attachment: fixed;
    background-size: cover;*/
    /*height: 100%;*/

#wrap {
    z-index: -100;
    /*background-color: #6d7d77;*/    /* old position: absolute;    left: 50%;    margin-right: -50%;    transform: translate(-50%, -50%); margin-top: 0;    position: absolute;    width: 50%;    height: auto;*/
    min-width: 640px;
    max-width: 100%;
    height: auto;
    min-height: 50%;
    margin: 0 auto 0 auto;
}

#header {
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    background: linear-gradient(to top, #2c72a5, #347fbd);
    /* old margin: 0;    height: 100px;    width: 100%;    position: absolute;*/
    height: 40px;
    box-shadow: 1px 1px 2px dimgray;
/*    border-bottom: solid 1px black;*/
}

.logo {
    position: absolute;
    left: 20px;
    top: 6px;
}

/*#line {
    position: relative;
    background-color: black;
    !*background: radial-gradient(circle farthest-side, #6ba2b9, #6ba2b9, rgba(255,0,0,0));*!
    height: 1px;
}*/

#left_menu {
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #dadada;
    height: 480px;
    position: absolute;
    /* old margin-top: 120px;    position: absolute;    width: 128px;    height: 400px;    text-align: center;*/
    float: left;
    margin-left: 10px;
    width: 128px;
    text-align: center;
    /*margin-top: 5px;*/
}

#right_menu {
    height: 480px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #dadada;
    /* old margin-left: 672px;    margin-top: 120px;    position: absolute;    width: 128px;    height: 400px;    text-align: center;*/
    float: right;
    width: 128px;
    margin-right: 10px;
    text-align: center;
    /*margin-top: 5px;*/
}

#content {
    /* old position: absolute;    margin-left: 128px;    margin-top: 120px;    !*width: 544px;*!    width: 68%;    height: 400px;    text-align: center;*/
    margin: 0 138px 0  138px;
    height: 200px;
    text-align: center;
    margin-top: 8px;
}

.textbarTop {
    margin: 0 10px 10px 10px;
    background-color: #ffffff/*rgba(221, 221, 221, 0.9)*/;
    text-align: justify;
    word-break: keep-all;
    font-family: Helvetica;
    color: #262626;
    border-radius: 3px;
    padding: 0 10px 10px 10px;
    border: 1px solid #dadada;
}

.textbar {
    background-color: #ffffff/*rgba(221, 221, 221, 0.9)*/;
    margin: 0 10px 10px 10px;
    text-align: justify;
    word-break: keep-all;
    font-family: Helvetica;
    color: #262626;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #dadada;
}

.textbar2 {
    background-color: #ffffff/*rgba(221, 221, 221, 0.9)*/;
    margin: 0 10px 0 10px;
    text-align: justify;
    word-break: keep-all;
    font-family: Helvetica;
    color: #262626;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #dadada;
}

ul.content {
    padding: 10px 10px 10px 10px;
}

li.content {
    list-style-image: url("http://www.addtask.com/images/star-on10.png");
}

#footer {
    clear: both;
    background-color: rgba(0, 0, 0, 0.6);    /* old position: absolute;    margin-top: 520px;    min-width: 50%;    width: 100%;    height: 20px;*/
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
}

.pics {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 315px;
    height: auto;
    padding: 2px 2px 2px 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #091f2b;
    margin: 2px 2px 2px 2px;
}
.pics:hover{
    box-shadow: 0 0 5px #3b96dd;
    opacity: 0.8;
}

/*_________________________________IMAGES START_________________________________________________________________*/

/*img {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
}*/

/*_________________________________IMAGES END___________________________________________________________________*/

/* ________________________________FONT STYLE__________________________________________________________________ */
a{
    margin:auto;
    color: #6d7d77;
    font-family:arial;
    font-size:12px;
    text-decoration:none;
    width:100%;
}
a:hover{
    color: #9dcaff;
}
a:active{
    color: #6e7f80;
}


p {
    color: #bce8f1;
    font-family: "Courier New";
    text-align: center;
    font-size: 0.8em;
}

h2 {
    color: #f8fff1;
    font-family: "Courier New";
    text-align: center;
    text-shadow: 1px 1px 2px dimgray;
}

h3 {
    color: #5770ff;
    font-size: 18px;
    text-shadow: 1px 1px 2px dimgray;
}

.exit {
    position: absolute;
    right: 10px;
    top: 3px;
}
.btnex {
    -webkit-box-shadow:0px 0px 3px #363f39; /*insert   to make shadow inside*/
    box-shadow: 0px 0px 3px #36403a;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    color: #2b2b2b;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 60px;
    width: 100%;
}
.btnex:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
/* ________________________________HERE IS PARTS OF BOOTSTRAP.CSS___________________________________________________*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 90px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}
.btn-default .badge {
    color: #fff;
    background-color: #333;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary .badge {
    color: #337ab7;
    background-color: #fff;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success .badge {
    color: #5cb85c;
    background-color: #fff;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    -webkit-box-shadow: 3px 3px 3px #363f39;
    box-shadow: 3px 3px 3px #36403a;
    margin-top: 6px;
}
.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}
.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info .badge {
    color: #5bc0de;
    background-color: #fff;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger .badge {
    color: #d9534f;
    background-color: #fff;
}
.btn-link {
    font-weight: normal;
    color: #337ab7;
    border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-block + .btn-block {
    margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}
/* ________________________________HERE IS PARTS OF BOOTSTRAP.CSS END_____________________________________________*/

/*_____________________________________________SCROLLUP FOR PAGE START____________________________________________*/
#scrollup {
    position: fixed; /* фиксированная позиция */
    opacity: 0.8; /* прозрачность */
    /*padding: 1px 1px 1px 1px;*/ /* отступы */
    background: #aaa;
    border-radius: 5px; /* скругление углов */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    left: 10px; /* отступ слева */
    bottom: 10px; /* отступ снизу */
    display: none; /* спрятать блок */
    cursor: pointer;
}
/*_________________________________________SCROLLUP FOR PAGE END__________________________________________________*/

/*_________________________________________TAB_MENU_START_________________________________________________________*/

.tabs_box {
    position: absolute;
    width: 100%;
    bottom: 20px;
    background: none;
    top: 40px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

#tab2, #tab3, #tab4 {
    display: none;
}

.tab {
    padding: 0 10px;
}

.tabs_menu {
    display: table-row;
}

.tabs_menu li {
    display: table-cell;
    width: auto;
}

.tabs_menu li a {
    display: table-cell;
    width: 2000px;
    text-align: center;
    text-decoration: none;
    background: #f8f8f8;
    color: #292929;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 10px 0;
}


.tabs_menu li:first-child a {
    border-left: 0;
}

.tabs_menu .active {
    background: #69b0f3;
    color: #fff;
    font-weight: bold;
}

/*___animation for hover___*/
.tabs_menu li a {
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.tabs_menu li a:hover {
    background: #7ac2f3;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
}
/*___end animation for hover___*/
/*____________________________________________TAB_MENU_END________________________________________________________*/

/*____________________________________________AUTH_START________________________________________________________*/

#login {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 3px;
}

/*____________________________________________AUTH_END________________________________________________________*/
.btn-slide2 {
    cursor:pointer;
}